{% extends 'base.html' %}

{% block content %}
    <h2>Search</h2>

    <form method="get" action=".">
        <table>
            {{ form.as_table }}
            <tr>
                <td>&nbsp</td>
                <td>
                    <input type="submit" value="Search">
                </td>
            </tr>
        </table>

        {% if query %}
            <h3>Results</h3>
            {% for result in page.object_list %}
                <p></p>
                {% ifequal result.model_name 'page' %}
                    {{ result.object.created_by }}
                {% endifequal %}
                {% ifequal result.model_name 'placeholder' %}
                    {{ result.object.slot }}
                {% endifequal %}
                {% ifequal result.model_name 'cmsplugin' %}
                    {{ result.object.plugin_type }}
                {% endifequal %}
                {% ifequal result.model_name 'text' %}
                    {{ result.object.body }}
                {% endifequal %}
            {% empty %}
                <p>No results found.</p>
            {% endfor %}
        {% endif %}
    </form>
{% endblock %}
